<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar " id="header" >
    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
        
        <img [src]=logo  width="200" height="300" class="d-block" viewBox="0 0 612 612" role="img"focusable="false"/>
            
    

    </a>
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link"  routerLinkActive = "active" routerLink="/home">Home</a>
        <a class="flex-sm-fill text-sm-center nav-link"  routerLinkActive = "active" routerLink="/personaggi">Personaggi</a>
        <a class="flex-sm-fill text-sm-center nav-link"  routerLinkActive = "active" routerLink="/episodi">Episodi</a>
        <a class="flex-sm-fill text-sm-center nav-link"  routerLinkActive = "active" routerLink="/random">Curiosità</a>
        <a class="flex-sm-fill text-sm-center nav-link"  routerLinkActive = "active" routerLink="/citazioni">Citazioni</a>
        <a class="flex-sm-fill text-sm-center nav-link"  routerLinkActive = "active" routerLink="/ab">About</a>
      </nav>
</header>