<div id="carouselExampleFade" class="carousel slide carousel-fade " data-ride="carousel">
   
    <div class="carousel-inner">  
        <div class="carousel-item active"  >
        <img [src]=nocks class="d-block w-100" alt="...">
    </div> 
    </div>

    <br>

    <div class="carousel-inner">  
        <div class="carousel-item active"  >
        <img [src]=elcamino class="d-block w-100" alt="...">
    </div>
    </div>

    <br>

    <div class="carousel-inner">
    
        <div class="carousel-item active"  >
        <img [src]=ampolle class="d-block w-100" alt="...">
    </div> 

    <br>

  </div>